[Unit]
Description=Gunicorn instance to serve API for AirBnB Clone
# Start after the network is available
After=network.target
After=syslog.target

[Service]
# Run the service under the 'ubuntu' user
User=ubuntu
Group=www-data
# Set working directory
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
Environment="HBNB_MYSQL_USER=hbnb_dev"
Environment="HBNB_MYSQL_PWD=hbnb_dev_pwd"
Environment="HBNB_MYSQL_HOST=localhost"
Environment="HBNB_MYSQL_DB=hbnb_dev_db"
Environment="HBNB_MYSQL_STORAGE=db"
# Start Gunicorn, binding to 0.0.0.0:5002, serve API
ExecStart=/home/ubuntu/.local/bin/gunicorn --bind 0.0.0.0:5002 api.v1.app:app
# Restart the service if it fails
Restart=on-failure

[Install]
# Enable the service for multi-user.target
WantedBy=multi-user.target
